<div class="mt-5 p-5 card">
    <header class="mt-5 card-header">
        <p class="card-header-title">
            <i class="fas fa-tasks"></i>&nbsp;&nbsp;&nbsp;Liste Clients
        </p>
        <div class="dropdown is-right is-hoverable">
            <div class="dropdown-trigger">
                <button class="card-header-icon" aria-label="more options">
                    <span class="icon">
                        <i class="fas fa-angle-down" aria-hidden="true"></i>
                    </span>
                </button>
            </div>
            <div class="dropdown-menu" id="dropdown-menu4" role="menu">
                <div class="dropdown-content">
                    <div class="dropdown-item">
                        <a class="dropdown-item" (click)="filterRepairsByDate()">
                            Toutes
                        </a>
                        <a class="dropdown-item" (click)="filterRepairsByDate(date)" *ngFor="let date of repairsDateList">
                            {{ date | date:'d-M-Y'}}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="card-content">
        <div class="content">
            <table class="table is-bordered is-narrow is-hoverable is-fullwidth">
                <thead>
                    <tr style="text-align: center;">
                        <th>N°</th>
                        <th>Nom</th>
                        <th>Voiture</th>
                        <th>Type de réparation</th>
                        <th>Date d'enregistrement</th>
                    </tr>
                </thead>
                <tbody>
                    <tr style="text-align: center;" *ngFor="let repair of usedRepairsList; let i = index">
                        <td>{{ i+1 }}</td>
                        <td>{{ repair.client.name }}</td>
                        <td *ngIf="!repair.car"></td>
                        <td *ngIf="repair.car">{{ repair.car.mark }} {{ repair.car.model }} ({{ repair.car.registration }})</td>
                        <td>{{ repair.repair_type }}</td>
                        <td>{{ repair.end_date | date:'d-M-Y' }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
