<section class="section">
    
    <div class="columns">
        <div class="column is-8" style="margin: 16px auto">
            <h1 class="is-block has-text-centered" style="font-size: 38px; font-weight: bold; color: grey">
                <img src="./assets/images/citycar.png" alt="CityCar" width="70" height="50">
                &nbsp;&nbsp;&nbsp;
                CityCAR
                &nbsp;&nbsp;&nbsp;
                <img src="./assets/images/citycar.png" alt="CityCar" width="70" height="50">
            </h1>
        </div>
    </div>
    
    <div class="columns m-2">
        <div class="card column card m-5 p-5"  style="border: 1px solid rgba(0,0,0,.075); margin-top: 65px;">
            <header class="mt-3 card-header">
                <p class="card-header-title" style="font-size: 21px;">
                    <img src="./assets/images/Carrosserie.png" alt="Carrosserie" width="60" height="60">
                    &nbsp;&nbsp;&nbsp;Carrosserie
                </p>
                <p class="card-header-icon" aria-label="more options" style="pointer-events:none">
                    <span class="icon" [ngStyle]="{ background: carrosserieStateColor }" style="border-radius: 50px;"></span>
                </p>
            </header>
            <div class="card-content">
                <div class="mt-5 content">
                    <h1 class="has-text-centered">
                        <div class="container" *ngIf="carrosserieRegistration && carrosserieState === 'called'">
                            <img src="./assets/images/plaque-dimmatriculation-vierge.png">
                            <div class="centered">{{ carrosserieRegistration }}</div>
                        </div>
                        <img src="./assets/images/can't-enter.png" alt="Can't enter" width="30%" *ngIf="carrosserieState === 'started'">
                    </h1>
                </div>
            </div>
        </div>
        
        <div class="card column card m-5 p-5"  style="border: 1px solid rgba(0,0,0,.075); margin-top: 65px;">
            <header class="mt-3 card-header">
                <p class="card-header-title" style="font-size: 21px;">
                    <img src="./assets/images/Mécanique.png" alt="Mécanique" width="60" height="60">
                    &nbsp;&nbsp;&nbsp;Mécanique
                </p>
                <p class="card-header-icon" aria-label="more options" style="pointer-events:none">
                    <span class="icon" [ngStyle]="{ background: mecaniqueStateColor }" style="border-radius: 50px;"></span>
                </p>
            </header>
            <div class="card-content">
                <div class="mt-5 content">
                    <h1 class="has-text-centered">
                        <div class="container" *ngIf="mecaniqueRegistration && mecaniqueState === 'called'">
                            <img src="./assets/images/plaque-dimmatriculation-vierge.png">
                            <div class="centered">{{ mecaniqueRegistration }}</div>
                        </div>
                        <img src="./assets/images/can't-enter.png" alt="Can't enter" width="30%" *ngIf="mecaniqueState === 'started'">
                    </h1>
                </div>
            </div>
        </div>
        
        <div class="card column card m-5 p-5"  style="border: 1px solid rgba(0,0,0,.075); margin-top: 65px;">
            <header class="mt-3 card-header">
                <p class="card-header-title" style="font-size: 21px;">
                    <img src="./assets/images/Service-Minute.png" alt="Service-Minute" width="60" height="60">
                    &nbsp;&nbsp;&nbsp;Service-Minute
                </p>
                <p class="card-header-icon" aria-label="more options" style="pointer-events:none">
                    <span class="icon" [ngStyle]="{ background: serviceMinuteStateColor }" style="border-radius: 50px;"></span>
                </p>
            </header>
            <div class="card-content">
                <div class="mt-5 content">
                    <h1 class="has-text-centered">
                        <div class="container" *ngIf="serviceMinuteRegistration && serviceMinuteState === 'called'">
                            <img src="./assets/images/plaque-dimmatriculation-vierge.png">
                            <div class="centered">{{ serviceMinuteRegistration }}</div>
                        </div>
                        <img src="./assets/images/can't-enter.png" alt="Can't enter" width="30%" *ngIf="serviceMinuteState === 'started'">
                    </h1>
                </div>
            </div>
        </div>
    </div>
    
</section>
