<section class="section" *ngIf="!isAuth">
    <div class="columns">
        <div class="column is-8 center blink_me" style="margin: 16px auto; text-align: center; margin-top: 25vh;">
            <img src="./assets/images/citycar.png" alt="CityCar">
            <h1 class="is-block has-text-centered" style="font-size: 38px; font-weight: bold; color: grey;">
                VEUILLEZ VOUS CONNECTER 
            </h1>
        </div>
    </div>
</section>

<section class="mt-5 p-5 columns" style="margin: auto" *ngIf="isAuth">
    <div class="m-5 column card">
        <header class="card-header">
            <p class="card-header-title">
                <i class="fas fa-phone-volume"></i>&nbsp;&nbsp;&nbsp;Appel Clients
            </p>
        </header>
        <div class="card-content">
            <div class="content columns">
                <div class="column is-8 is-center" style="margin: 50px auto">
                    <form [formGroup]="callForm" (ngSubmit)="onSubmitCallForm()">
                        
                        <div class="mt-3 field">
                            <label class="label">Service</label>
                            <div class="control">
                                <div class="select" style="width: 100%">
                                    <p [ngClass]="{ 'has-error': repairTypeError }">
                                        <select style="width: 100%" formControlName="repairType">
                                            <option value="Carrosserie">Carrosserie</option>
                                            <option value="Mécanique">Mécanique</option>
                                            <option value="Service-Minute">Service-Minute</option>
                                        </select>
                                    </p>
                                </div>
                            </div>
                        </div>
                        
                        <div class="mt-5 field">
                            <label class="label" for="clientName">Nom du client</label>
                            <div class="control">
                                <p [ngClass]="{ 'has-error': clientNameError }">
                                    <input class="input" type="text" id="clientName" formControlName="clientName">
                                </p>
                                <div class="help-block form-error" *ngIf="clientNameError">{{ clientNameErrorMessage }}</div>
                            </div>
                        </div>
                        
                        <div class="mt-5 field">
                            <label class="label" for="registration">Immatriculation du véhicule</label>
                            <div class="control">
                                <p [ngClass]="{ 'has-error': registrationError }">
                                    <input class="input" type="text" id="registration" formControlName="registration">
                                </p>
                                <div class="help-block form-error" *ngIf="registrationError">{{ registrationErrorMessage }}</div>
                            </div>
                        </div>
                        
                        <div class="mt-5 has-text-centered" *ngIf="!haveAllRepairsStarted()">
                            <button type="button submit" class="button is-link">Appeler</button>
                        </div>
                        
                    </form>
                </div>
            </div>
        </div>
    </div>
    
    
    <div class="m-5 column card">
        
        <header class="card-header">
            <p class="card-header-title">
                <i class="fas fa-tasks"></i>&nbsp;&nbsp;&nbsp;Gestion Clients
            </p>
        </header>
        
        <div class="card-content">
            <div class="content">
                <div class="mt-5 card" *ngFor="let repairItem of repairsInProgress">
                    <header class="card-header">
                        <p class="card-header-title" style="color: grey">
                            <img src="./assets/images/{{ repairItem.repair.repairType }}.png" alt="{{ repairItem.repair.repairType }}" width="25" height="25">
                            &nbsp;&nbsp;&nbsp;{{ repairItem.repair.repairType }}
                        </p>
                        <p class="card-header-icon" aria-label="more options" style="pointer-events:none">
                            <span class="icon" style="border-radius: 50px" [ngStyle]="{ background: getRepairStateColor(repairItem.repair.repairType) }"></span>
                        </p>
                    </header>
                    <div class="card-content">
                        <div class="content">
                            <div class="has-text-right" (click)="cancelRepair(repairItem.repair.repairType)" *ngIf="hasRepairBeenCalled(repairItem.repair.repairType)">
                                <i class="fas fa-times" style="cursor: pointer"></i>
                            </div>
                            <h6 style="color: grey">Nom du client : <span style="color: black">{{ repairItem.repair.clientName }}</span></h6>
                            <h6 style="color: grey">Immatriculation du véhicule : <span style="color: black">{{ repairItem.repair.registration }}</span></h6>
                            <div class="has-text-right">
                                <p>
                                    <button class="button has-shadow is-small is-right" (click)="startRepair(repairItem.repair.repairType)" *ngIf="hasRepairBeenCalled(repairItem.repair.repairType)">
                                        Démarrer
                                    </button>
                                </p>
                                <p>
                                    <button class="button has-shadow is-small is-right" (click)="endRepair(repairItem.repair.repairType, repairItem.repair.clientName, repairItem.repair.registration)" *ngIf="hasRepairStarted(repairItem.repair.repairType)">
                                        Terminer
                                    </button>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</section>
