<div class="modal modal-pos-top modal-fx-fadeInScale" [ngClass]="{ 'is-active' : loginModalIsOpen }">
    <div class="modal-background" style="background-color:rgba(0, 0, 0, 0.3);" (click)="toggleModal()"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Connexion</p>
            <button class="delete" aria-label="close" (click)="toggleModal()"></button>
        </header>
        <section class="columns modal-card-body">
            <div class="p-5 is-7" style="margin: auto">
                <form [formGroup]="loginForm" (ngSubmit)="onSubmitLoginForm()">
                    <div class="field">
                        <p [ngClass]="{ 'has-error': emailError }">
                            <input class="input" type="email" formControlName="email" placeholder="E-mail">
                        </p>
                        <div class="help-block form-error" *ngIf="emailError">{{ emailErrorMessage }}</div>
                    </div>
                    <div class="field">
                        <p [ngClass]="{ 'has-error': passwordError }">
                            <input class="input" type="password" formControlName="password" placeholder="Mot de passe">
                        </p>
                        <div class="help-block form-error" *ngIf="passwordError">{{ passwordErrorMessage }}</div>
                    </div>
                    <a (click)="registerModalIsOpen = !registerModalIsOpen">S'inscrire ?</a>
                    <div class="mt-4 has-text-centered">
                        <button type="button submit" class="button is-success">Soumettre</button>
                    </div>
                </form>
            </div>
        </section>
    </div>
</div>

<app-register [registerModalIsOpen]="registerModalIsOpen" (registerModalStateEmitter)="updateRegisterModalState($event)"></app-register>
