/* You can add global styles to this file, and also import other style files */
.has-error input,
.has-error select {
    border-color: rgb(216, 12, 12);
    background-color:lavenderblush;
    color: rgb(230, 14, 14);
}

.form-error {
    color: red;
}
