<header class="navbar is-flex is-justify-content-space-between is-justify-content-center is-fixed-top is-align-items-center" aria-label="main navigation" style="box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);">

    <span class="navbar-start">
        <a class="navbar-item" title="Accueil" routerLink="/">
            <img src="./assets/images/citycar.png" alt="Logo" width="32" style="vertical-align: middle;">&nbsp;&nbsp;CityCAR
        </a>
    </span>
    
    <span class="navbar">
        <a class="navbar-item" title="Gestion des réparations" routerLink="/" *ngIf="isAuth">
            <i class="fas fa-phone-volume"></i>&nbsp;&nbsp;&nbsp;<i class="fas fa-tasks"></i>
        </a>
        <a class="navbar-item" title="Liste des réparations" routerLink="/repairsList" *ngIf="isAuth && userRole === 'gerant'">
            <i class="far fa-list-alt"></i>
        </a>
        <a class="navbar navbar-item" title="Salle d'attente (Affichage)" routerLink="/calledClients" target="_blank">
            <i class="fas fa-phone-volume"></i>
        </a>
    </span>
    
    <span class="navbar-end">
        <a class="navbar-item" title="Inscription" (click)="registerModalIsOpen = !registerModalIsOpen" *ngIf="!isAuth">
            <i class="fas fa-user-plus"></i>
        </a>
        <a class="navbar-item" title="Connexion" (click)="loginModalIsOpen = !loginModalIsOpen" *ngIf="!isAuth">
            <i class="fas fa-sign-in-alt"></i>
        </a>
        <a class="navbar-item navbar-end" title="Déconnexion" (click)="logout()" *ngIf="isAuth">
            <i class="fas fa-sign-out-alt"></i>
        </a>
    </span>
    
</header>

<app-login [loginModalIsOpen]="loginModalIsOpen" (loginModalStateEmitter)="updateLoginModalState($event)"></app-login>
<app-register [registerModalIsOpen]="registerModalIsOpen" (registerModalStateEmitter)="updateRegisterModalState($event)"></app-register>
